<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Demo</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script></head>

        <link rel="stylesheet" href="/static/deezer_homepage.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/deezer_custom.css" rel="stylesheet" type="text/css">

<body>

<!-- SIDEBAR -->
<div class="sidebar-container" data-reactid=".0" style="background:#23232C">
    <div class="brand" data-reactid=".0.0">
        <a class="logo logo-deezer-bbr" href="/" data-reactid=".0.0.0"></a>
        <span data-reactid=".0.0.1"></span>
    </div>
</div>

<!-- NOTIFICATION -->
 <div class="row">
    <div class="panel panel-default col-md-12">
        <div id="topnotification" class="panel-body">
            Notification Pannel
            <li class="results">
                <img src="https://image.tmdb.org/t/p/w154/{{ hit.image_path }}"/>
            <h3>
                {% comment %}
                {{ res.hits[0].objectID }}
                {% endcomment %}
            </h3>
</li>
        </div>
    </div>
 </div>

<!-- Welcome message -->
<div class="row">
    <div class="panel panel-default panel-body col-md-8" style="height:180px">
        <p>Welcome, <span id="nickname"></span>!
        <p>You authenticated with <span id="loginProvider"></span>
    </div>

<!-- ADD Connnection bloc  style="position:fixed" -->
    <div class="panel panel-default panel-body col-md-4" style="height:180px">
        <div id="div-GS-addUI"></div>
    </div>
</div>

<div class="row">
    <!-- Social ID for End-User role -->
    <div id="result-enduser" class="panel panel-default col-md-8">
        <h3>Pannel for <span class="label label-success">QA</span></h3>
<br/>
<table id="SuspiciousNodes" class="table">
<tr>
    <th class="col-md-1">Suspicious</th>
    <th class="col-md-1">Nb_album</th>
    <th class="col-md-1">Nb_Fan</th>
    <th class="col-md-1">Radio</th>
    <th class="col-md-1">Image</th>
</tr>
{% for suspicious_it in suspicious %}
<tr>
{% for dim in suspicious_it %}
<td class="col-md-1">
<!-- STATIC FILE TRICK -->
{% if "cdn-images.deezer.com" not in dim %}{{dim}}{% endif %}
{% if "cdn-images.deezer.com" in dim %}<img src="{{dim}}">{% endif %}</img>
<!-- strange case where it's rendered by e-cdn-images.deezer.com  -->
</td>
{% endfor %}
<td colspan=5>

<div class="btn-group dropup">
  <button type="button" class="btn btn-default">ML Decision</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">OK/TP *action*deduplicate|RefDB Improve</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">NOK/FP *action*ManualTag</a></li>
  </ul>
</div>

</td>
</tr>
{% endfor %}
</table><br>
</div>

    <!-- Social ID for Debugger role -->
    <div id="result-debugger" class="panel panel-default col-md-4">
        <h3>Pannel for <span class="label label-warning">Data Scientist</span></h3>
            <br/>
          <!-- FORM -->
            <form enctype="multipart/form-data" action="" method="post" style="text-align: left;">{% csrf_token %}
            <table id="UnknownNodeForm">
            {{ form.as_table }}
            </table><br>
            <input class="btn btn-medium btn-primary" style="display: true" type="submit" value="Search">
            </form>
    </div>
</div>


</body>
</htlm>
